*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Noto Sans JP",sans-serif;
}

body{
    background:#f7faff;
    color:#333;
}


.member-hero{
    text-align:center;
    padding:160px 20px 60px;
}

.member-list{
    max-width:1000px;
    margin:0 auto;
    padding:40px 20px;
}

.member-list h4{
    text-align:center;
    margin-bottom:30px;
}

.department-chart{
    text-align:center;
    margin-bottom:40px;
}

.department-chart img{
    margin-top:40pt;
    width:80%;
    max-width:700px;
    height:auto;
}

.ta1{
    width:100%;
    border-collapse:collapse;
}

.ta1 caption{
    font-size:1.3rem;
    font-weight:bold;
    margin-bottom:20px;
}

.ta1 th{
    width:180px;
    text-align:center;
    vertical-align:middle;
}

.ta1 td{
    line-height:1.8;
    padding:15px;
}

.ta1 th,
.ta1 td{
    border:1px solid #ddd;
}


/*まとめたページ用*/
.grade-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin:40px 0;
}

.grade-buttons button{
    padding:12px 30px;
    border:none;
    border-radius:999px;
    background:#e0e0e0;
    color:#333;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.grade-buttons button:hover{
    background:#1267d8;
    color:#fff;
}

.grade-buttons button.active{
    background:#1267d8;
    color:#fff;
}

.grade-content{
    display:none;
}

.grade-content.active{
    display:block;
}

/*ここまで*/

.member-photo{
    text-align:center;
    margin:30px 0 50px;
}

.member-photo img{
    width:100%;
    max-width:800px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}